<div class="w-screen h-screen relative">
  <img class="w-full h-full" src="/images/404.svg" alt="" />
  <a
    href="/"
    class="absolute text-2xl uppercase flex items-center hover:bg-blue-700 hover:text-white p-4 rounded transition"
    style="left: 50%;top: 5%; transform: translateX(-50%);"
  ><i class="bx bx-right-arrow-alt mr-3"></i>Trang chủ</a>
</div>